.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  margin: 0;
  background-color: hsl(222, 26%, 31%);
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
}
.container {
  width: 100%;
  height: 98vh;
  background-color: aqua;
}
